.header {
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}

.barra {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.barra img {
  width: 100%;
}

.navegacion > a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}

.inicio {
  background-image: url("../resource/header.jpg");
  background-position: center center;
  background-size: cover;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header > h1 {
  color: white;
  font-weight: bold;
  line-height: 2;
  max-width: 50rem;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    align-items: center;
  }
  .navegacion > a {
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .navegacion > a:last-of-type {
    margin-right: 0;
  }
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
  .inicio > .contenido-header,
  .inicio {
    min-height: 70rem;
  }
}
